<%= form_for question do |form| %>

  <%= form.fields_for :user, user do |user_form| %>
  <div class="row">
    <%= user_form.label :name, "User Name" %>
    <%= user_form.text_field :name %>
  </div>
  <% end %>

  <div class="row">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="row">
    <%= form.label :question_content, 'Question' %>
    <%= form.text_field :question_content %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Question" %>
  </div>

<% end %>
